---
import Base from "@layouts/Base.astro";
---

<Base title="404 Not Found">
  <section class="h-full w-full p-16 flex-cij text-center">
    <h2 class="mb-8 font-bold text-9xl">
      <span class="sr-only">Error</span>
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-blue-200 hover:from-blue-300 via-cyan-200 hover:via-cyan-400 to-teal-300 hover:to-teal-500"
        >404
      </span>
    </h2>
    <p class="mt-4 mb-8 text-2xl font-semibold md:text-3xl">
      Sorry, we couldn't find this page.
    </p>

    <a
      rel="noopener noreferrer"
      href="/"
      class="btn glass ml-4 font-semibold leading-6 rounded-full border-4 border-purple-500"
    >
      Back to homepage
    </a>
  </section>
</Base>
