---
import Base from "@layouts/Base.astro";
---

<Base title="404 Not Found">
  <section class="flex-ri h-full p-16">
    <div class="container flex-cij px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500"
            >404
          </span>
        </h2>
        <p class="mt-4 mb-8 text-3xl font-semibold md:text-3xl">
          Sorry, we couldn't find this page.
        </p>

        <a
          rel="noopener noreferrer"
          href="/"
          class="btn primary ml-4"
        >
          Back to homepage
        </a>
      </div>
    </div>
  </section>
</Base>
