---
import { Icon } from "astro-icon/components";

export interface Props {
  hideicon?: boolean;
  hidetext?: boolean;
  class?: string;
}
---

{
  !Astro.props.hideicon && (
    <Icon
      name="xqua"
      class:list={[
        "w-10 h-10 mr-2",
        Astro.props.class,
      ]}
    />
  )
}

{
  !Astro.props.hidetext && (
    <span class:list={["ml-2 text-2xl", Astro.props.class]}><slot/></span>
  )
}
