---
import { Icon } from "astro-icon/components";
---

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 AstroWind
</span>

<a class="flex justify-center items-center text-gray-600 hover:text-gray-700 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 dark:text-gray-400 p-1.5"
            aria-label="Twitter" href="#">
            <Icon name="tabler:brand-twitter" class="w-5 h-5" />
          </a>